html, body {
  height: 100%;
  background: white;
}

#root {
  height: calc(100% - 30px);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
